@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900');
@import './colors.scss';
@import '../../node_modules/currency-flags/dist/currency-flags.min.css';
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'sans-serif', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface-muted);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
